.main{
    display: flex;
    flex-direction: column;
}

.main h1{
    font-family: fantasy;
    text-align: center;
    font-weight: lighter;
    font-size: 64px;
}

.main p{
    font-family: fantasy;
    text-align: center;
    font-weight: lighter;
    font-size: 32px;
}

.main h2{
    font-family: fantasy;
    text-align: center;
    font-weight: lighter;
    font-size: 48px;
}

.recent_games{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.game_box{
    display: flex;
    flex-direction: column;
}

.game_box a{
    text-decoration: none;
}

.game_box img{
    margin-bottom: 0px;
    padding: 16px;
    margin-left: 16px;
    margin-right: 16px;
    width: 200px;
    height: 160px;
    background-color: #3068ff;
}

.game_box h3{
    font-family: fantasy;
    text-align: center;
    text-justify: auto;
    font-weight: lighter;
    font-size: 24px;  
    margin-top: -4px;
    padding: 16px;
    margin-left: 16px;
    margin-right: 16px;
    width: 200px;
    max-width: 256px;
    height: 64px;
    max-height: 64px;
    color: #ffffff;
    background-color: #3068ff;
}

